[user]
	name = @Lewisjohnward
	email = lewisjohnward+git1@gmail.com
[alias]
	discard = ! git stash -q --include-untracked && git stash drop -q
	last = log -1 HEAD --stat
	c = checkout
	dr = push origin -d
	bd = checkout
	b = branch
[core]
	editor = nvim
